*{             /*сброс всех отступов, что могут задавать разные браузеры*/
	padding:0; 
	margin:0;
}
.header .inline{
	display: inline-block;
	width: 40%;
	padding-top: 50px;
	vertical-align: text-top;	
	text-align: center;
}
.header .logo{
	max-width: 145px;
	width: 100%;
	padding-top: 0;
}
.logo img{
	width: 200px;
	height: 200px;		
	}
    .nav{
	    height: 40px;
		background: #7A1B73; 
	}
    .nav ul{
	    display: flex;
	    list-style: none;
	    justify-content: right;	
    }    
	.nav ul li a{
		color: #24A0A4;
		font-size: 20px;
		text-decoration: none;
	}
